html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #d9dbf1;
  font-family: Open Sans, sans-serif;
}
nav {
  height: 20vh;
}
.logo {
  background-color: #0d7882;
  color: #ffffff;
}
a .nav-link {
  background-color: #0d7882;
  color: #ffffff;
}
div .principal {
  background-image: url('../img/fondosec.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner {
  background-color: #d9dbf1;
}
.imagen-arquitectura {
  background-image: url('../img/arquitectura1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
}
.img1 {
  background-image: url('../img/imgar2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
}
.aviso {
  height: 40vh;
  max-width: 100%;
}
