html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #d9dbf1;
  font-family: Open Sans, sans-serif;
}
nav {
  height: 20vh;
}
.logo {
  background-color: #0d7882;
  color: #ffffff;
}
a .nav-link {
  background-color: #0d7882;
  color: #ffffff;
}
div .principal {
  background-image: url('../img/fondosec.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner {
  background-color: #d9dbf1;
}
.img-arquitec {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  box-shadow: 10px 10px 5px grey;
}
.img-1 {
  background-image: url('../img/arquitect1mod.jpg');
}
.img-2 {
  background-image: url('../img/interiormod.jpg');
}
.img-3 {
  background-image: url('../img/img-2crop.png');
}
.img-4 {
  background-image: url('../img/img-4.jpeg');
}
.aviso {
  height: 40vh;
  max-width: 100%;
}
