html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  background-color: #d9dbf1;
  margin-right: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background-color: #0d7882;
  font-family: 'Raleway', sans-serif;
}
.nover {
  overflow: hidden;
}
nav {
  height: 20vh;
}
.azul {
  background-color: #0d7882;
  color: #d9dbf1;
}
.logo {
  background-color: #d9dbf1;
  padding: 0px;
}
a .nav-link {
  background-color: #0d7882;
  color: #d9dbf1;
}
div .principal {
  background-image: url('../img/fondosec.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  min-width: 100%;
  padding: 0vmax;
}

.img-arquitec {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  border: 2px outset #d9dbf1;
}
.img-1 {
  background-image: url('../img/arquitect1mod.jpg');
}
.img-2 {
  background-image: url('../img/interiormod.jpg');
  min-height: 70vh;
}
.img-3 {
  background-image: url('../img/imagarquitectura2.webp');
  min-height: 70vh;
}
.img-4 {
  background-image: url('../img/imagarquitectura3.jpg');
  min-height: 70vh;
}
.aviso {
  height: 40vh;
  max-width: 100%;
  text-align: center;
}
.articulo {
  background-color: #fcf9ed;
  overflow: hidden;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 0.5px;
  font-weight: lighter;
}
.articulo h2 {
  font-size: 2.5rem;
}
.espacio {
  height: 20vh;
}
.letra {
  font-size: 2.7rem;
  font-weight: lighter;
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: lighter;
  line-height: 5.5vh;
}
p {
  font-size: 1rem;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
.status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
.status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (min-device-width: 260px) and (max-device-width: 620px) {
  h1 {
    font-size: 1.9rem;
  }
  h2,
  h3 {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 6.2vh;
  }
  .articulo h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
  i .fab fa-blogger {
    font-size: 1rem;
  }
  .letra {
    font-size: 2.2rem;
    font-weight: lighter;
    font-family: 'Caveat', cursive;
    line-height: 7vh;
  }
}
